* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none; /* 👈🏻 removendo os pontos da lista não ordenada */
}

/* 👇🏻 Transformando o padrão da que é 16px em 10px, para facilitar na tranformação de pixel para rem */
:root {
  font-size: 62.5%; /*10px */
}

body {
  font-family: "Epilogue", sans-serif;

  background: #ece9fd;

  padding: 6rem 2.3rem 6.6rem;
  font-size: 1.6rem;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;

  color: #090039;

  margin-bottom: 1.5rem;
}

main {
  max-width: 33rem;
  margin: 0 auto;
}

/* 👇🏻 Pega o primeito `p` */
main p:first-child {
  color: #7158ef;

  letter-spacing: 3px; /* 👈🏻 espaço entre as letras do texto  */
  text-transform: uppercase;
  line-height: 3.2rem; /* 👈🏻 altura da linha */

  margin-bottom: 1.7rem;
}

/* 👇🏻 "h1 + p" é um seletor CSS que seleciona um elemento <p> que vem imediatamente após um elemento <h1> no código HTML */
h1 + p {
  line-height: 3.2rem;
  color: rgba(10, 0, 57, 0.64);

  margin-bottom: 3.2rem;
}

a {
  color: #090039;

  text-decoration: none; /* 👈🏻 removendo o estilo do elemento `a` */
}

a:hover {
  font-weight: bold;
}

ul {
  margin-top: 7.2rem;
}

/* O símbolo "+" em CSS é usado para selecionar um elemento que aparece imediatamente após outro elemento dentro do mesmo elemento pai. É como dizer "o próximo elemento que vem logo depois deste".
👇🏻
*/
ul li + li {
  margin-top: 3.2rem;
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;

  color: #090039;

  max-width: 32.9rem;

  display: flex;
  gap: 3.8rem;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: -2px; /* Unidade de medida pequena é interessante deixar em pixel */

  color: #090039;
}

/* "@media" é uma regra de mídia em CSS que define estilos específicos para serem aplicados quando a largura da tela é igual ou maior a determinados pixels. É um recurso do CSS chamado de "Media Queries" que permite criar estilos condicionais com base nas características do dispositivo ou tamanho de tela. 
👇🏻 */
@media (min-width: 700px) {
  body {
    padding: 8rem;
  }

  main {
    max-width: 1021px;
    display: flex;
    gap: 10rem;
  }

  /* O símbolo ">" é um seletor de filho direto em CSS. Quando usado em um seletor, indica que o elemento selecionado é um filho direto do elemento anterior mencionado.
  
  No código CSS que você forneceu, "main > div" é um seletor que seleciona todos os elementos "div" que são filhos diretos de um elemento "main" em uma página web
  👇🏻 */
  main > div {
    max-width: 484px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }
}
